.btnNuevoLugar{
    display: block !important;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 40px !important;
    padding: 5px 0px !important;
    color: #0C2233 !important;
    background-color: #0c223348 !important;
    border-color: #0C2233 !important;
    &:hover{
        color: #FFC045 !important;
        background-color: #0C2233 !important;
    }
}