.btnNuevoLugar{
    display: block !important;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 40px !important;
    padding: 5px 0px !important;
    color: #0a1537 !important;
    background-color: transparent !important;
    border-color: #0a1537 !important;
    &:hover{
        color: #FFC300 !important;
        background-color: #0a1537 !important;
    }
}