.cardLugar{
    background-color: #647ecc80 !important;
    .back-card{
        background-color: #00000057;
        color: #fff;
        &:hover{
            background-color: #00000013;
        }
        .card-titulo{
            position: absolute;
            bottom: 40px;
        }
        .card-direccion{
            position: absolute;
            bottom: 10px;
            font-size: 0.8em;
        }
    }

}
.btnReportar{
    display: block !important;
    width: 20px !important;
    padding: 2px 0px !important;
    color: #065471 !important;
    background-color: transparent !important;
    border: none !important;
    &:hover{
        color: #0C2233 !important;
        //background-color: #0a1537 !important;
    }
}
.linkLugar{
    text-decoration: none;
    color: #000;
    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none;
    }
}
