.NavBar {
    background-color: #0a1537;
    height: 80px;
    width: 100%;
    // position: fixed;
    z-index: 100;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .enlaceTitulo{
        text-decoration: none;
        .titulo{
        color: #FFC300;
    }
    }
    nav{
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                display: inline-block;
                margin: 1.5vw;
                a{
                    display: block;
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.5em;
                    &:hover{
                        transition: 0.3s ease;
                        //border-bottom: 2px solid #fff;
                        color: #FFC300;
                    }
                    &.active{
                        color: #FFC300;
                    }
                }
            }
        }
    }
    .MobilMenu{
        display: none;
        align-items: center;
        
        .MenuIcon{
            //size: 50px;
            color: #FFC300;
            position: absolute;
            right: 4%;
            cursor: pointer;
        }
    }

}
// .logo{
//     width: 70px;
//     padding-left: 10%;
// }
@media screen  and (max-width: 650px){
    .NavBar {
        .Menu{
            display: none;
        }
        .MobilMenu{
            display: flex;
            z-index: 100;
            ul{
                display: flex;
                flex-direction: column;
                position: absolute;
                right: 0;
                top: 80px;
                width: 100vw;
                //height: 100vh;
                background-color: #0a1537;
                border-top: 5px solid #ffc4009d;
                z-index: 100;
                
                li{                   
                    a{
                        padding-left: 5%;
                        &:hover{
                            color: #FFC300;
                            border-bottom: none;
                            margin-left: 1%;
                            transition: all 0.2s ease-in;
                        }
                    }
                }
            }
        }
    }
}